  <br>
  <div class="login-page">
  <div class="col justify-content-center">
    <div class="form-heading"></div>
    <h2 class="login">Login</h2>
     <form class="login-form">
      <div class="form-group">
        <input class="form-control form-control-lg" type="text" placeholder="Username" id="username-login" aria-label=".form-control-lg example"/>
      </div>
      <div class="form-group">
         <input class="form-control form-control-lg" type="password" placeholder="Password" id="password-login" aria-label=".form-control-lg example"/>
      </div> 
      <div >
        <button  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Login</button>
      </div>
      <div>
       
        <a href="/signUp">Sign Up Instead</a>
       
      </div> 
    </form> 
  </div>
</div>
 <script src="https://cdn.tailwindcss.com"></script>
<script src="./js/login.js"></script>   
